<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Booking</title>
     	  <link rel="stylesheet" href="{% static 'css/map.css' %}">
        <link rel="stylesheet" href="{% static 'css/booking.css' %}">
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
		    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body onload="carLocation()">
      {% include "map/navbar.html" %}
      <div class="confirm-block" id="car-map"></div>
        <div class='session-block text-center' id="countdowndiv1">
          Insert Session Timer Here
        </div>
        <h1 class='text-center'>Youre about to book {{car.number_plate}}</h1>
        <h2 class='text-center'>Please procceed to confirmation to pay and start driving!</h1>
        <div id="booking-content" class="fieldset">
          <table style="width:100%" id="booking-table">
            <tr>
              <td class ="map-block"><img src="../static/images/car-image1.png" width=60% height=75%></td>
              <td class ="details-block text-right">
                <p class="booking-text"><span class="booking-form-title">Number Plate:</span> {{ car.number_plate }}
                <br>
                <span class="booking-form-title">Brand:</span> {{ car.brand }}
                <br>
                <span class="booking-form-title">Type:</span>
                <br>
                <span class="booking-form-title">Transmission:</span> {{ car.transmission }}
                <br>
                <span class="booking-form-title">Year:</span>
                <br>
                <br>
                <p class="booking-text"><span class="booking-form-title">Price:</span> ${{ car.price }}p/h</p>
                <br></td>
            </tr>
          </table>
          <form method="POST" action="/confirmation">
             {% csrf_token %}
             <input type="hidden" name="number_plate" value="{{ car.number_plate }}" />
             <input type="submit" class="btn btn-primary btn-block booking-button" value="Process to Confirmation" id="process-button"></input>

          </form>
          <br>
           <input type="submit" class="btn btn-primary btn-block booking-button" value="Cancel Booking" id="process-button"></input>
           <br>
        </div>
      <div class="booking-footer">
      </div>
        <script>
            function carLocation() {
              mapboxgl.accessToken = 'pk.eyJ1Ijoic3RvcG92ZXJhZG1pbiIsImEiOiJjanRtcHY3YXozeW10NGJvM3c2dWlxZ2xvIn0.1WlrGXizCLdOrV5TXPTc0A';
              var bounds = [
                 [144.70345,-37.91802],
                 [145.22873,-37.64668]
              ];

                var map = new mapboxgl.Map({
                  container: 'car-map',
                  style: 'mapbox://styles/mapbox/streets-v11',
                  center: [{{ car.longitude }}, {{ car.latitude }}],
                  zoom: 16,
                  bearing: 0,
                  maxBounds: bounds
              });

              // Cars location marker
              var geojson_cars = {
                type: 'FeatureCollection',
                features: [
                  {
                    type: 'Feature',
                    geometry: {
                      type: 'Point',
                      coordinates: [{{ car.longitude }}, {{ car.latitude }}]
                    },
                    properties: {
                      title: '{{ car.number_plate }}',
                      description: 'Type: {{ car.brand }} Transmission: {{ car.transmission }} Price: ${{ car.price }} per hour'
                    }
                  },
              ]
              };
              // add markers to map
              geojson_cars.features.forEach(function(marker) {
              // create a HTML element for each feature
              var el = document.createElement('div');
              el.className = 'car-marker';
              // car markers
              new mapboxgl.Marker(el)
              .setLngLat(marker.geometry.coordinates)
                .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                  .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
              .addTo(map);
              });
            }

            function countdown(elementID, minutes, seconds) {
              var element, endTime, hours, mins, msLeft, time;
              var car = "{{ car.number_plate }}"; // set car number_plate to a car variable
              var token = '{{csrf_token}}'; // set csrf token for post request

              function twoDigits(n) { // when digit is less than 9, add a 0 in front
                return (n <= 9 ? "0" + n : n);
              }

              function updateTimer() {
                msLeft = endTime - (+new Date);
                if (msLeft < 1) { // when millisecond is less than 1
                  $.ajax({ // sending car number_plate to views
                    headers: { "X-CSRFToken": token },
                    url: '/',
                    type: "POST",
                    data: {car : car}
                  })
                  alert("Session has timeout"); // display popup
                  window.location.replace("/"); // redirect to homepage
                }
                else { // continue updating the timer
                  time = new Date(msLeft);
                  hours = time.getUTCHours();
                  mins = time.getUTCMinutes();
                  element.innerHTML = (hours ? hours + ':' + twoDigits(mins) : mins) + ':' + twoDigits(time.getUTCSeconds()); // Display countdown timer
                  setTimeout(updateTimer, time.getUTCMilliseconds() + 500);
                }
              }
              element = document.getElementById(elementID);
              endTime = (+new Date) + 1000 * (60 * minutes + seconds) + 500;
              updateTimer();
            }

            countdown("countdowndiv", 10, 0);


        </script>
    </body>
</html>
