<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Confirmation</title>
     	  <link rel="stylesheet" href="{% static 'css/map.css' %}">
        <link rel="stylesheet" href="{% static 'css/booking.css' %}">
        <link rel="stylesheet" href="{% static 'css/payment.css' %}">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
		    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    </head>
    <body onLoad="navigation()">
    {% include "map/navbar.html" %}
      <div class="confirm-block" id="car-map"></div>
      <div class='session-block text-center' id="countdowndiv1">
        Insert Session Timer Here
      </div>
      <h1 class='text-center'>Youre about to Confirm booking {{car.number_plate}}</h1>
      <h2 class='text-center'>You have 30 mins to get the car</h1>
      <h3 class='text-center'>Once you have arrived at the car, click confirm to pay and start driving</h3>
      <div id="booking-content" class="fieldset">
        <table style="width:100%" id="confirm-table">
          <tr>
            <td class ="map-block"><img src="../static/images/car-image1.png" width=60% height=75%></td>
            <td class ="details-block text-right">
              <p class="booking-text"><span class="booking-form-title">Number Plate:</span> {{ car.number_plate }}
              <br>
              <span class="booking-form-title">Brand: {{ car.brand }}</span>
              <br>
              <span class="booking-form-title">Type:</span>
              <br>
              <span class="booking-form-title">Transmission:</span> {{ car.transmission }}
              <br>
              <span class="booking-form-title">Year:</span>
              <br>
              <br>
              <p class="booking-text"><span class="booking-form-title">Price:</span> ${{ car.price }}p/h</p>
              <br>
              <br></td>
          </tr>
        </table>
        <form action="/success" method="post" id="confirm-form">
          {% csrf_token %}
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="pk_test_wE41ugfkdMLZn92C3XlPYN4R00S83jBUDB"
                  data-description="Booking Deposit Fee"
                  data-amount="1000"
                  data-locale="auto"
                  data-email="{{ user.email }}">
          </script>
          <script>
              document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
          </script>
          <input type="hidden" name="number_plate" value="{{ car.number_plate }}" />
          <input type="submit"  class="btn btn-primary btn-block booking-button" value="Confirm Booking" id="confirm-button"></input>
        </form>
        <br>
         <input type="submit" class="btn btn-primary btn-block booking-button" value="Cancel Booking" id="process-button"></input>
         <br>
      </div>
      <div class="booking-footer">
      </div>
  </body>
    <script>
    function getSpecificCookie(cookieName, valueOnly) {
     //Get original cookie string
    	 var oCookieArray = document.cookie.split(';'),
    	     fc,
    	     cnRE = new RegExp(cookieName + '\=');
    	 //Loop through cookies
    	 for (var c = 0; c < oCookieArray.length; c++) {
    	 	   //If found save to variable and end loop
    	     if (cnRE.test(oCookieArray[c])) {
    	         fc = oCookieArray[c].trim();
    	         if (valueOnly) {
    	             fc = fc.replace(cookieName +'=', '');
    	         }
    	         break;
    	     }
    	 }
    	 return fc;
    }

      const longCookie = getSpecificCookie('longitude', true);
      const latCookie = getSpecificCookie('latitude', true) ;

      mapboxgl.accessToken = 'pk.eyJ1Ijoic3RvcG92ZXJhZG1pbiIsImEiOiJjanRtcHY3YXozeW10NGJvM3c2dWlxZ2xvIn0.1WlrGXizCLdOrV5TXPTc0A';
      var bounds = [
         [144.70345,-37.91802],
         [145.22873,-37.64668]
      ];

        var map = new mapboxgl.Map({
          container: 'car-map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [{{ car.longitude }}, {{ car.latitude }}],
          zoom: 14,
          bearing: 0,
          maxBounds: bounds
      });

      // loading marker for the users Location
      var geojson_user = {
        type: 'FeatureCollection',
        features: [{
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [longCookie, latCookie]
          },
          properties: {
            title: '{{ user.first_name }} {{ user.last_name }}',
            description: 'Your Current Location'
          }
        }]
      };

      // add users marker to map
      geojson_user.features.forEach(function(marker) {
        // create a HTML element for each feature
        var el = document.createElement('div');
        el.className = 'users-marker';
        // user marker
        new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
            .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
              .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
          .addTo(map);
      });

      // Cars location marker
      var geojson_cars = {
        type: 'FeatureCollection',
        features: [
          {
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: [{{ car.longitude }}, {{ car.latitude }}]
            },
            properties: {
              title: '{{ car.number_plate }}',
              description: 'Type: {{ car.brand }} Transmission: {{ car.transmission }} Price: ${{ car.price }} per hour'
            }
          },
      ]
      };
      // add markers to map
      geojson_cars.features.forEach(function(marker) {
      // create a HTML element for each feature
      var el = document.createElement('div');
      el.className = 'car-marker';
      // car markers
      new mapboxgl.Marker(el)
      .setLngLat(marker.geometry.coordinates)
        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
          .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
      .addTo(map);
      });

      var canvas = map.getCanvasContainer();

       // an arbitrary start will always be the same
       // only the end or destination will change
       var start = [longCookie, latCookie];

       // create a function to make a directions request
       function getRoute(end) {
         // make directions request using cycling profile
         var url = 'https://api.mapbox.com/directions/v5/mapbox/walking/' + start[0] + ',' + start[1] + ';' + end[0] + ',' + end[1] + '?steps=true&geometries=geojson&access_token=' + mapboxgl.accessToken;

         // make an XHR request https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest
         var req = new XMLHttpRequest();
         req.responseType = 'json';
         req.open('GET', url, true);
         req.onload  = function() {
           var data = req.response.routes[0];
           var route = data.geometry.coordinates;
           var geojson = {
             "type": "Feature",
             "properties": {},
             "geometry": {
               "type": "LineString",
               "coordinates": route
             }
           };
           // if the route already exists on the map, we'll reset it using setData
           if (map.getSource('route')) {
             map.getSource('route').setData(geojson);
           }
           // otherwise, we'll make a new request
           else {
             map.addLayer({
               "id": "route",
               "type": "line",
               "source": {
                 "type": "geojson",
                 "data": {
                   "type": "Feature",
                   "properties": {},
                   "geometry": {
                     "type": "LineString",
                     "coordinates": geojson
                   }
                 }
               },
               "layout": {
                 "line-join": "round",
                 "line-cap": "round"
               },
               "paint": {
                 "line-color": "#3887be",
                 "line-width": 5,
                 "line-opacity": 0.75
               }
             });
           };

           // get the sidebar and add the instructions
           var instructions = document.getElementById('instructions');
           var steps = data.legs[0].steps;

           var tripInstructions = [];
           for (var i = 0; i < steps.length; i++) {
             tripInstructions.push('<br><li>' + steps[i].maneuver.instruction) + '</li>';
             instructions.innerHTML = '<br><span class="duration">Trip duration: ' + Math.floor(data.duration/60) + ' min 🚴 </span>' + tripInstructions;
           };
         };
         req.send();
       };

       map.on('load', function(){
         // make an initial directions request that
         // starts and ends at the same location
         getRoute(start);

         // Add destination to the map
         map.addLayer({
           "id": "point",
           "type": "circle",
           "source": {
             "type": "geojson",
             "data": {
               "type": "FeatureCollection",
               "features": [{
                 "type": "Feature",
                 "properties": {},
                 "geometry": {
                   "type": "Point",
                   "coordinates": start
                 }
               }
             ]
           }
         }
       });

       var coords = [{{car.longitude}}, {{car.latitude}}];
         var end = {
           "type": "FeatureCollection",
           "features": [{
             "type": "Feature",
             "properties": {},
             "geometry": {
               "type": "Point",
               "coordinates": coords
             }
           }
         ]
       };
       if (map.getLayer('end')) {
         map.getSource('end').setData(end);
       } else {
         map.addLayer({
           "id": "end",
           "type": "circle",
           "source": {
             "type": "geojson",
             "data": {
               "type": "FeatureCollection",
               "features": [{
                 "type": "Feature",
                 "properties": {},
                 "geometry": {
                   "type": "Point",
                   "coordinates": coords
                 }
               }
             ]
           }
         }
       });
     };
     getRoute(coords);
     });
  </script>
  </body>
</html>
