@import url(//fonts.googleapis.com/css?family=Roboto+Mono:400,700i);

h1
{
    color: #C25100;
    font-family: 'Roboto Mono', monospace;
}

#map
{
	width: 650px !important;
	height: 450px !important;

}

a
{
    font-family: 'Roboto Mono', monospace;

}

#mainLogo
{
    font-family: 'Roboto Mono', monospace;
    color: #C25100;
    font-size: 25px;
}

.nav-link a:active
{
  border-radius: 25px;
  padding: 2px;
  border: 2px solid;
}

.nav-item
{
	font-size: 12px;
	padding-right: 7px;


}

.d-inline-block
{
	margin: 20px;


}

#rightBox
{
width: 500px;
vertical-align: top;
 height:450px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#leftBox
{
		width: 700px;

}

#twoBoxes
{
	vertical-align: center;
	position: absolute;
}

.list-group-item
{
	margin-bottom: 20px !important;
	width: 350px;

}


/* user marker */
.users-marker {
  background-image: url(../images/users_marker.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
/* car marker */
.car-marker {
  background-image: url(../images/car_marker.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/* popup description on each marker */
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.distanceNumber {
	color: #C25100 !important;
}

/* Cofnirmation Page form layout*/
.session-block {
  /* border-style: solid;
  border-width: 2px; */
}

#car-map {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 650px !important;
}

.row {
  display: flex;
}
/* div {
   border: 1px solid #73AD21;
} */
.block {
  height: 50%;
  padding: 1%;

}
.row > div {
  flex: 1;
}
.col-wrap {
  display: flex;
  flex-direction: column;
}
.col-wrap > div {
  flex: 1;
}

.confirmation-button {
  float:left;
}

/* progress bar Stepper */
.steps-block {
  border-style: solid;
  border-color: #C25100;
  /* border-width: 2px; */
  background-color: #C25100;
  height: 200px;
}

/*form styles*/
#stepper {
	width: 100%;
	text-align: center;
  font-family: 'Roboto Mono', monospace;
	/* position: relative; */
}
#stepper fieldset {
  -moz-box-shadow:    3px 3px 45px 6px #ccc;
  -webkit-box-shadow: 3px 3px 45px 6px #ccc;
  box-shadow:         3px 3px 45px 6px #ccc;
  background-color: white;
  /* border-style: solid;
  border-width: 2px; */
  margin: 2%;
  margin-top: 0px;
  padding: 2%;
  height:: 100%
}
/*Hide all except first fieldset*/
#stepper fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#stepper input, #stepper textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#stepper .action-button {
	width: 100%;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#stepper .action-button:hover, #stepper .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 25%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

.bar-block {
  margin-top: 25px;
  text-align: center;
}
