@import url(//fonts.googleapis.com/css?family=Roboto+Mono:400,700i);

h1
{
    color: #C25100;
    font-family: 'Roboto Mono', monospace;
}

#map
{
	width: 500px;
	height: 475px;

}

a
{
    font-family: 'Roboto Mono', monospace;

}

#mainLogo
{
    font-family: 'Roboto Mono', monospace;
    color: #C25100;
    font-size: 25px;
}

.nav-link a:active
{
  border-radius: 25px;
  padding: 2px;
  border: 2px solid;
}

.nav-item
{
	font-size: 12px;
	padding-right: 7px;


}

.d-inline-block
{
	margin: 20px;

}

#leftBox
{
	width: 650px;
	vertical-align: top;
}

#rightBox
{

}

.list-group-item
{
	margin: 20px;
}


/* user marker */
.users-marker {
  background-image: url(../images/users_marker.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
/* car marker */
.car-marker {
  background-image: url(../images/car_marker.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/* popup description on each marker */
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
