@import url(//fonts.googleapis.com/css?family=Roboto+Mono:400,700i);

h1
{
    color: #C25100;
    font-family: 'Roboto Mono', monospace;
}

#map
{
	width: 650px !important;
	height: 450px !important;

}

a
{
    font-family: 'Roboto Mono', monospace;

}

#mainLogo
{
    font-family: 'Roboto Mono', monospace;
    color: #C25100;
    font-size: 25px;
}

.nav-link a:active
{
  border-radius: 25px;
  padding: 2px;
  border: 2px solid;
}

.nav-item
{
	font-size: 12px;
	padding-right: 7px;


}

.d-inline-block
{
	margin: 20px;


}

#rightBox
{
width: 500px;
vertical-align: top;
 height:450px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#leftBox
{
		width: 700px;

}

#twoBoxes
{
	vertical-align: center;
	position: absolute;
}

.list-group-item
{
	margin-bottom: 20px !important;
	width: 350px;

}


/* user marker */
.users-marker {
  background-image: url(../images/users_marker.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
/* car marker */
.car-marker {
  background-image: url(../images/car_marker.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/* popup description on each marker */
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.distanceNumber {
	color: #C25100 !important;
}

/* Cofnirmation Page  form layout*/
.main-block {
  -moz-box-shadow:    3px 3px 45px 6px #ccc;
  -webkit-box-shadow: 3px 3px 45px 6px #ccc;
  box-shadow:         3px 3px 45px 6px #ccc;
  background-color: white;
  /* border-style: solid;
  border-width: 2px; */
  margin: 2%;
  margin-top: 100px;
  padding: 2%;
  height:: 100%
}

.session-block {
  /* border-style: solid;
  border-width: 2px; */
}

#car-map {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 650px !important;
}

.row {
  display: flex;
}
/* div {
   border: 1px solid #73AD21;
} */
.block {
  height: 50%;
  padding: 1%;

}
.row > div {
  flex: 1;
}
.col-wrap {
  display: flex;
  flex-direction: column;
}
.col-wrap > div {
  flex: 1;
}

.confirmation-button {
  float:left;
}

.steps-block {
  border-style: solid;
  border-color: #C25100;
  /* border-width: 2px; */
  background-color: #C25100;
  height: 200px;
}
