<div id="booking-hist">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Booking Id</th>
        <th scope="col">Car Model</th>
        <th scope="col">Booking Start Date/Time</th>
        <th scope="col">Booking End Date/Time</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{ history.brand }}</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>$ 34.30</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Mazda</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>$ 50.1</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>BMW</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>$ 32.30</td>
      </tr>
    </tbody>
  </table>
</div>
