<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Success</title>
     	  <link rel="stylesheet" href="{% static 'css/map.css' %}">
        <link rel="stylesheet" href="{% static 'css/booking.css' %}">
        <link rel="stylesheet" href="{% static 'css/payment.css' %}">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
		    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    </head>

    <body onLoad="navigation()">
      {% include "layout/navbar.html" %}
        <div class="fieldset">
          <div id="success-text">
            <h3>You have successfully return the car! Please book again soon</h2>
              <br/>
            <div id="success-photo"><img src="../static/images/success-image.png" height=200px></div>
            <br/>
            <h5>
              Redirecting to the homepage in <span id="countdown">5</span> seconds
            </h5>
          </div>
        </div>
      </div>
      <script type="text/javascript">

          // Total seconds to wait
          var seconds = 5;

          function countdown() {
              seconds = seconds - 1;
              if (seconds < 0) {
                  // Chnage your redirection link here
                  window.location = "{% url 'home' %}";
              } else {
                  // Update remaining seconds
                  document.getElementById("countdown").innerHTML = seconds;
                  // Count down using javascript
                  window.setTimeout("countdown()", 1000);
              }
          }

          // Run countdown function
          countdown();

      </script>
      {% include "layout/footer.html" %}
    </body>
</html>
