<!DOCTYPE html>

<body>
	<table style="width:60%" align="center">
		<tr>
			<td>Numer Plate</td>
			<td>{{ car.number_plate }}</td>
		</tr>
		<tr>
			<td>Brand</td>
			<td>{{ car.brand }}</td>
		</tr>
		<tr>
			<td>Price</td>
			<td>${{ car.price }} per hour</td>
		</tr>
		<tr>
			<td>Payment Method</td>
			<td></td>
		</tr>
		<tr>
			<td>Date Ordered</td>
			<td><span id="order-date"></span></td>
		</tr>
		<tr>
			<td>Time Ordered</td>
			<td><span id="order-time"></span></td>
		</tr>
		<tr>
			<td>Email</td>
			<td></td>
		</tr>
	</table>
</body>
</html>

<script>
  var dt = new Date();
    document.getElementById("order-date").innerHTML = dt.toLocaleDateString();
    document.getElementById("order-time").innerHTML = dt.toLocaleTimeString();
</script>