<div class='main-block'>
  <div class='session-block text-center'>
    Insert Session Timer Here
  </div>
  <div class="row">
    <div class="col-4-md block">
      <div id='car-map'></div>
    </div>
    <div class="col-wrap">
      <div class="col-4-md text-center block2">
        <img src="../static/images/car-image1.png" width=100% height=100%>
      </div>
      <div class="block3">
        <p> Number Plate:
        <br>
        Brand:
        <br>
        Type:
        <br>
        Transmission:
        <br>
        Year:
        <br>
        <br>
        Booking Date:
        <br>
        Booking Time: </p>
        <br>
        <br>
        <br>
        <div class="confirmation-button">
        <form method="GET">
          <input type="hidden" name="number_plate" value="TEST">
          <input type="submit" value="Confirm">
        </form>
        </div
      </div>
    </div>
  </div>
</div>
