<div class='session-block text-center' id="countdowndiv1">
  Insert Session Timer Here
</div>
<div id="car-map"></div>
<table style="width:100%">
  <tr>
    <td class ="map-block"><img src="../static/images/car-image1.png" width=60% height=75%></td>
    <td class ="details-block text-left">
      <p> Number Plate: {{ car.number_plate }}
      <br>
      Brand: {{ car.brand }}
      <br>
      Type:
      <br>
      Transmission: {{ car.transmission }}
      <br>
      Year:
      <br>
      <br>
      Booking Date:
      <br>
      Booking Time: </p>
      <br>
      <p> Price: ${{ car.price }}p/h</p>
      <br></td>
  </tr>
</table>
<input type="hidden" name="number_plate" value="TEST">
<input type="button" name="next" class="next action-button" value="Next" />

<script>
  // This gets the location of the car that has been selected
    function carLocation() {
      mapboxgl.accessToken = 'pk.eyJ1Ijoic3RvcG92ZXJhZG1pbiIsImEiOiJjanRtcHY3YXozeW10NGJvM3c2dWlxZ2xvIn0.1WlrGXizCLdOrV5TXPTc0A';
      var bounds = [
         [144.70345,-37.91802],
         [145.22873,-37.64668]
      ];

        var map = new mapboxgl.Map({
          container: 'car-map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [{{ car.longitude }}, {{ car.latitude }}],
          zoom: 12,
          bearing: 0,
          maxBounds: bounds
      });

      // Cars location marker
      var geojson_cars = {
        type: 'FeatureCollection',
        features: [
          {
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: [{{ car.longitude }}, {{ car.latitude }}]
            },
            properties: {
              title: 'Mapbox',
              description: 'Car Locations'
            }
          },
      ]
      };
      // add markers to map
      geojson_cars.features.forEach(function(marker) {
      // create a HTML element for each feature
      var el = document.createElement('div');
      el.className = 'car-marker';
      // car markers
      new mapboxgl.Marker(el)
      .setLngLat(marker.geometry.coordinates)
        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
          .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
      .addTo(map);
      });
    }

    function countdown(elementID, minutes, seconds) {
      var element, endTime, hours, mins, msLeft, time;
      var car = "{{ car.number_plate }}"; // set car number_plate to a car variable
      var token = '{{csrf_token}}'; // set csrf token for post request

      function twoDigits(n) { // when digit is less than 9, add a 0 in front
        return (n <= 9 ? "0" + n : n);
      }

      function updateTimer() {
        msLeft = endTime - (+new Date);
        console.log(msLeft)
        if (msLeft < 1) { // when millisecond is less than 1
          $.ajax({ // sending car number_plate to views
            headers: { "X-CSRFToken": token },
            url: '/',
            type: "POST",
            data: {car : car}
          })
          alert("Session has timeout"); // display popup
          window.location.replace("/"); // redirect to homepage
        }
        else { // continue updating the timer
          time = new Date(msLeft);
          hours = time.getUTCHours();
          mins = time.getUTCMinutes();
          element.innerHTML = (hours ? hours + ':' + twoDigits(mins) : mins) + ':' + twoDigits(time.getUTCSeconds()); // Display countdown timer
          setTimeout(updateTimer, time.getUTCMilliseconds() + 500);
        }
      }
      element = document.getElementById(elementID);
      endTime = (+new Date) + 1000 * (60 * minutes + seconds) + 500;
      updateTimer();
    }

    countdown("countdowndiv1", 10, 0);

</script>
