<div id="stepper">
  <ul id="progressbar">
    <li class="active">Car Details</li>
    <li>Payment</li>
    <li>Confirmation</li>
  </ul>

  <div class="fieldset">
    {% include "confirmation/cardetails.html" %}

  </div>
  <div class="fieldset">
    <div class='session-block text-center'>
      Insert Session Timer Here
    </div>
    <h2 class="fs-title">Payment Info</h2>
    <h3 class="fs-subtitle">Please select your payment method</h3>
    {% include "confirmation/paymethod.html" %}
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </div>
  <div class="fieldset">
    <div class='session-block text-center'>
      Insert Session Timer Here
    </div>
    <h2 class="fs-title">Success!</h2>
    <h3 class="fs-subtitle">Please select submit to confirm purchases</h3>
    {% include "confirmation/paysubmit.html" %}
      {{ form.render }}
    <input type="button" name="previous" class="previous action-button" value="Previous" />
  </div>
</div>
