<form id="stepper">
  <ul id="progressbar">
    <li class="active">Car Details</li>
    <li>Payment</li>
    <li>Sucess</li>
  </ul>

  <div class="fieldset">
    {% include "confirmation/cardetails.html" %}

  </div>
  <div class="fieldset">
    <div class='session-block text-center'>
      Insert Session Timer Here
    </div>
    <h2 class="fs-title">Payment Info</h2>
    <h3 class="fs-subtitle">Please select your payment</h3>

    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </div>
  <div class="fieldset">
    <div class='session-block text-center'>
      Insert Session Timer Here
    </div>
    <h2 class="fs-title">Sucess!</h2>
    <h3 class="fs-subtitle">Please select submit to confirm purchases</h3>

    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="submit" name="submit" class="submit action-button" value="Submit" />
  </div>
</form>
