<form id="stepper" method="POST" action="/temp">
  {% csrf_token %}
  <ul id="progressbar">
    <li class="active">Car Details</li>
    <li>Payment</li>
    <li>Confirmation</li>
  </ul>

  <div class="fieldset">
    {% include "confirmation/cardetails.html" %}

  </div>
  <div class="fieldset">
    <div class='session-block text-center'>
      Insert Session Timer Here
    </div>
    <h2 class="fs-title">Payment Info</h2>
    <h3 class="fs-subtitle">Please select your payment</h3>

    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </div>
  <div class="fieldset">
    <div class='session-block text-center'>
      Insert Session Timer Here
    </div>
    <h2 class="fs-title">Please Confirm Booking</h2>
    <!-- <h3 class="fs-subtitle">Please Confirm Booking</h3> -->
    <div style="padding: 30px">
      {% include "confirmation/blank.html" %}
    </div>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="submit" name="submit" class="submit action-button" value="Submit" />
    <input type="hidden" name="number_plate" value="{{ car.number_plate }}" />
  </div>
</form>
