<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>about</title>
     	  <link rel="stylesheet" href="{% static 'css/map.css' %}">
        <link rel="stylesheet" href="{% static 'css/booking.css' %}">
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
		    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
      {% include "layout/navbar.html" %}
      <div class="image-block">
        <img class="mySlides" src="../static/images/banner.jpg" width=100% height=480px>
      </div>
      <div class="fieldset">
        <div class="about-block">
          <h1>About Stopover</h1>
          <p> insert test here about the project stopover </p>
        </div>
        <div class="team-block">
          <h1>Introducing the Team</h1>
          <table style="width:100%">
            <tr>
              <td>Project Leader</td>
              <td>Team Leader</td>
              <td>Scrum Master</td>
              <td>Business Analyst</td>
            </tr>
          </table>
        </div>
        <div class="development-block">
          <table style="width:100%">
            <tr>
              <td><img src="../static/images/thumbnails/django.png" width=70px height=90px></td>
              <td><img src="../static/images/thumbnails/postgresql.png" width=70px height=110px></td>
              <td><img src="../static/images/thumbnails/heroku.png" width=70px height=110px></td>
            </tr>
          </table>
          <table style="width:100%">
            <tr>
              <td><img src="../static/images/thumbnails/frontend.png" width=70px height=90px></td>
              <td><img src="../static/images/thumbnails/bootstrap.png" width=70px height=90px></td>
            </tr>
          </table>
        </div>
      </div>
      {% include "layout/footer.html" %}
    </body>
</html>
