<div class="content-width">
  <div class="slideshow">
    <!-- Slideshow Items -->
    <div class="slideshow-items">
      <div class="item">
        <div class="item-image-container">
          <img class="item-image" src="../static/images/slide_2.png" />
        </div>
        <!-- Staggered Header Elements -->
        <div class="item-header">
          <span class="vertical-part"><b>S</b></span>
          <span class="vertical-part"><b>e</b></span>
          <span class="vertical-part"><b>a</b></span>
          <span class="vertical-part"><b>r</b></span>
          <span class="vertical-part"><b>c</b></span>
          <span class="vertical-part"><b>h</b></span>
        </div>
        <!-- Staggered Description Elements -->
        <div class="item-description">
          <span class="vertical-part">
            <b>Find</b>
          </span>
          <span class="vertical-part">
            <b>the</b>
          </span>
          <span class="vertical-part">
            <b>car</b>
          </span>
          <span class="vertical-part">
            <b>that</b>
          </span>
          <span class="vertical-part">
            <b>suits</b>
          </span>
          <span class="vertical-part">
            <b>your</b>
          </span>
          <span class="vertical-part">
            <b>needs</b>
          </span>
          <span class="vertical-part">
            <b>from</b>
          </span>
          <span class="vertical-part">
            <b>our</b>
          </span>
          <span class="vertical-part">
            <b>list</b>
          </span>
          <span class="vertical-part">
            <b>of</b>
          </span>
          <span class="vertical-part">
            <b>available</b>
          </span>
          <span class="vertical-part">
            <b>vehicles.</b>
          </span>
        </div>
      </div>
      <div class="item">
        <div class="item-image-container">
          <img class="item-image" src="../static/images/slide_1.png" />
        </div>
        <!-- Staggered Header Elements -->
        <div class="item-header">
          <span class="vertical-part"><b>B</b></span>
          <span class="vertical-part"><b>o</b></span>
          <span class="vertical-part"><b>o</b></span>
          <span class="vertical-part"><b>k</b></span>
        </div>
        <!-- Staggered Description Elements -->
        <div class="item-description">
          <span class="vertical-part">
            <b>Book</b>
          </span>
          <span class="vertical-part">
            <b>the</b>
          </span>
          <span class="vertical-part">
            <b>car</b>
          </span>
          <span class="vertical-part">
            <b>of</b>
          </span>
          <span class="vertical-part">
            <b>your</b>
          </span>
          <span class="vertical-part">
            <b>choice,</b>
          </span>
          <span class="vertical-part">
            <b>then</b>
          </span>
          <span class="vertical-part">
            <b>enter</b>
          </span>
          <span class="vertical-part">
            <b>your</b>
          </span>
          <span class="vertical-part">
            <b>payment</b>
          </span>
          <span class="vertical-part">
            <b>details</b>
          </span>
          <span class="vertical-part">
            <b>to</b>
          </span>
          <span class="vertical-part">
            <b>confirm</b>
          </span>
          <span class="vertical-part">
            <b>your</b>
          </span>
          <span class="vertical-part">
            <b>booking.</b>
          </span>
        </div>
      </div>
      <div class="item">
        <div class="item-image-container">
          <img class="item-image" src="../static/images/slide_3.png" />
        </div>
        <!-- Staggered Header Elements -->
        <div class="item-header">
          <span class="vertical-part"><b>D</b></span>
          <span class="vertical-part"><b>r</b></span>
          <span class="vertical-part"><b>i</b></span>
          <span class="vertical-part"><b>v</b></span>
          <span class="vertical-part"><b>e</b></span>
        </div>
        <!-- Staggered Description Elements -->
        <div class="item-description">
          <span class="vertical-part">
            <b>Go</b>
          </span>
          <span class="vertical-part">
            <b>to</b>
          </span>
          <span class="vertical-part">
            <b>your</b>
          </span>
          <span class="vertical-part">
            <b>car</b>
          </span>
          <span class="vertical-part">
            <b>and</b>
          </span>
          <span class="vertical-part">
            <b>drive.</b>
          </span>
          <span class="vertical-part">
            <b>It's</b>
          </span>
          <span class="vertical-part">
            <b>that</b>
          </span>
          <span class="vertical-part">
            <b>easy!</b>
          </span>
        </div>
      </div>
    </div>
    <div class="controls">
      <ul>
        <li class="control" data-index="0"></li>
        <li class="control" data-index="1"></li>
        <li class="control" data-index="2"></li>
      </ul>
    </div>
  </div>
</div>
