<!-- Footer -->
<footer class="footer-body">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Stopover</h5>
        <ul class="list-unstyled">
          <li>
            <p>8 Whiteman St, Southbank VIC 3006</p>
          </li>
          <li>
            <a href="callto:+6192561234">(03) 9256 1234</a>
          </li>
          <li>
            <a href="mailto:stopover.pp@gmail.com">stopover.pp@gmail.com</a>
          </li>
        </ul>
        <!-- <p>Here you can use rows and columns to organize your footer content.</p> -->
        <!-- CHANGE LINKS TO ICONS -->
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Social Media</h5>
        <ul class="list-unstyled">
          <li>
            <a href="www.twitter.com">Twitter</a>
          </li>
          <li>
            <a href="www.facebook.com">Facebook</a>
          </li>
          <li>
            <a href="www.instagram.com">Instagram</a>
          </li>
        </ul>
      </div> -->
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Stopover, All rights reserved
  </div>
</footer>
