<!-- Footer -->
{% load static %}
<footer class="footer-content">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Stopover</h5>
        <!-- <p>Here you can use rows and columns to organize your footer content.</p> -->
        <div class="mb-md-0 mb-3">
        <a href="https://www.twitter.com"><img alt="" src="{% static 'images/facebook.png' %}" class="social-media-img"></a>
        <a href="https://www.facebook.com"><img alt="" src="{% static 'images/twitter.png' %}" class="social-media-img"></a>
          <a href="https://www.instagram.com">  <img alt="" src="{% static 'images/instagram.png' %}" class="social-media-img"></a>

          </div>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Contact Us</h5>
        <ul class="footer-list list-unstyled">
          <li>
            <p>8 Whiteman St, Southbank VIC 3006</p>
          </li>
          <li>
            <a href="callto:+6192561234">(03) 9256 1234</a>
          </li>
          <li>
            <a href="mailto:stopover.pp@gmail.com">stopover.pp@gmail.com</a>
          </li>
        </ul>
      </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Stopover, All rights reserved</div>
</footer>
