<script>
$(document).ready(function () {
    $('ul.nav > li').click(function (e) {
        e.preventDefault();
        $('ul.nav > li').removeClass('active');
        $(this).addClass('active');
    });
});
</script>

<nav class="stopover-nav navbar navbar-expand-lg navbar-light">
  <div class="container">
  <a class="navbar-brand col-8" href="{% url 'home' %}" id='mainLogo'><img src="../static/images/logo.png" height=50px></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

   <div class="collapse navbar-collapse col-4" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">BOOK A CAR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'help' %}">HELP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">AB0UT</a>
      </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user' %}">{{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">LOG-OUT</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">JOIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">LOG-IN</a>
        </li>
        {% endif %}

    </ul>
  </div>
  </div>
</nav>
