@import url(//fonts.googleapis.com/css?family=Roboto+Mono:400,700i);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  font-size: .88rem;
  height: 100%;
  margin: 0;
  /* color: #bdbdd5; */
}

.content-width {
  width: 86%;
  height: 50vh;
  margin: 10px auto;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 50vh;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
}

.slideshow-items {
  position: relative;
  width: 100%;
  height: 300px;
}

.item {
  position: absolute;
  width: 100%;
  height: auto;
}

.item-image-container {
  position: relative;
  width: 42%;
}

.item-image-container::before {
  content: '';
  position: absolute;
  /* top: -1px; */
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.item-image {
  position: relative;
  width: 100%;
  height: auto;
  opacity: 0;
  display: block;
  /* transition: property name | duration | timing-function | delay  */
  transition: opacity .3s ease-out .45s;
}

@media only screen and (max-width: 600px) {
  .slideshow-block{
    display: none;
    }


  }

  @media only screen and (max-width: 1024px){


      .image-block{
        height: 25vh;
        /* overflow: hidden; */
      }
    }

    @media only screen and (max-width: 768px){


        .image-block{
          height: 25vh;
          /* overflow: hidden; */
        }
      }

.image-block{
  margin: 15px 10%;
  overflow: hidden;
}

.slideshow .control{
  display:none;
}

.item.active .item-image {
  opacity: 1;
}

.item.active .item-image-container::before {
  opacity: .8;
}

.item-description {
  position: absolute;
  top: 182px;
  right: 0;
  width: 50%;
  padding-right: 4%;
  line-height: 1.8;
}

/* Staggered Vertical Items ------------------------------------------------------*/
.item-header {
  position: absolute;
  top: 150px;
  left: -1.8%;
  z-index: 100;
  color: #99D3DF;

}

.item-header .vertical-part {
  margin: 0 -4px;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: auto;
  font-size: 7vw;
  /* color: #fff; */
}

.vertical-part {
  overflow: hidden;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;

}

.vertical-part b {
  display: inline-block;
  transform: translateY(100%);
}

.item-header .vertical-part b {
  transition: .5s;
}

.item-description .vertical-part b {
  transition: .21s;
}

.item.active .item-header .vertical-part b {
  transform: translateY(0);
}

.item.active .item-description .vertical-part b {
  transform: translateY(0);
}

/* Controls ----------------------------------------------------------------------*/
.controls {
  position: relative;
  text-align: right;
  z-index: 1000;
}

.controls ul {
  list-style: none;
}

.controls ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  background:#bdbdd5;;
  cursor: pointer;
}

.controls ul li.active {
  background:#6a6a77;;
}
