<!--- Displays list of cars by looping through a car list obtain from the db-->
<div class="list-group">
<script>
  const longCookie = getSpecificCookie('longitude', true);
  const latCookie = getSpecificCookie('latitude', true) ;
  // Created empty arrays to store distance + number plates
  var temp_numberplate = [];
  var car_distance = [];
  {% for car in cars %}
  // Template for json2Html
    var template = {"<>":"a","href":"#","class":"list-group-item list-group-item-action flex-column align-items-start","html":[
      {"<>":"div","class":"d-flex w-100 justify-content-between","html":[
          {"<>":"h5","id":"car-brand","class":"mb-1 list-font","html":"${car-brand}"},
          {"<>":"small","id":"car-trans","html":"${car-trans}"},
          {"<>":"small","id":"number-plate","class":"list-font","html":"${number-plate}"}
        ]},
      {"<>":"div","class":"d-flex w-100 justify-content-between","html":[
          {"<>":"p","html":[
              {"<>":"small","id":"distanceNumber","html":"${distanceNumber}"},
              {"<>":"small","html":" km from you"}
            ]}
        ]},
      {"<>":"form","method":"GET","action":"{{ car.get_absolute_url }}","html":[
          {"<>":"input","type":"submit","value":"Book","html":""}
        ]}
    ]}
    // store distance into the array
    car_distance.push(getDistanceFromLatLonInKm({{car.longitude}}, {{car.latitude}}, longCookie, latCookie));
  {% endfor %}
  // sorted the array into smallest to largest
  function sortDistance(a,b) { return a - b; }
  var sorted_car_distance = car_distance.sort(sortDistance);
    // sort through the car distance array
    for (var i = 0; i < sorted_car_distance.length; i++) {
      // sort through the car array
      {% for car in cars %}
      // compare the distance of the car to the sorted distance to list from smallest to largest
        if (getDistanceFromLatLonInKm({{car.longitude}}, {{car.latitude}}, longCookie, latCookie) == sorted_car_distance[i]) {
          // using the numberplate array to make sure theres no duplciates
          if (!temp_numberplate.includes('{{car.number_plate}}'))
          {
            temp_numberplate.push('{{car.number_plate}}');
            // add the data into the json2string
            var data = [
              {'car-brand':'{{car.brand}}','car-trans': '{{car.transmission}}','number-plate': '{{car.number_plate}}','distanceNumber': sorted_car_distance[i]}
            ]
            // appends the data and lists the data out
            var str = json2html.transform(data,template);
            document.write(str);
          }
        }
      {% endfor %}
    }

  </script>
</div>
