<div id='map' style='width: 400px; height: 300px;'></div>
<form action="#" method="get">
 <input type="button" value="Use My Current Location" id="find-me">
</form>

<p id = "status"></p>
<a id = "map-link" target="_blank"></a>
<script>
// Fucntion to find current location (geolocation)
function geoFindMe() {

  const status = document.querySelector('#status');
  const mapLink = document.querySelector('#map-link');

  mapLink.href = '';
  mapLink.textContent = '';

// creating a fucntion to set a value into cookie expires in 30s
  function setCookie(name, value) {
    var today = new Date();
    var expiry = new Date(today.getTime() + 30 * 1000);
    document.cookie=name + "=" + escape(value) + "; path=/; expires=" + expiry.toGMTString();
  }

  function success(position) {
    const latitude  = position.coords.latitude;
    const longitude = position.coords.longitude;

    status.textContent = '';
    mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
    mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;
// setting the longitute and latitude into cookies to be accessed in views.py
    setCookie("longitude",position.coords.longitude);
    setCookie("latitude",position.coords.latitude);
  }

  function error() {
    status.textContent = 'Unable to retrieve your location';
  }

  if (!navigator.geolocation) {
    status.textContent = 'Geolocation is not supported by your browser';
  } else {
    status.textContent = 'Locating…';
    navigator.geolocation.getCurrentPosition(success, error);
  }
}

// Mapbox script to display map, also uses to edit the center and zoom etc
document.querySelector('#find-me').addEventListener('click', geoFindMe);
    mapboxgl.accessToken = 'pk.eyJ1Ijoic3RvcG92ZXJhZG1pbiIsImEiOiJjanRtcHY3YXozeW10NGJvM3c2dWlxZ2xvIn0.1WlrGXizCLdOrV5TXPTc0A';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [144.97, -37.81],
        zoom: 12,
        bearing: 0
    });

    var geojson = {
      type: 'FeatureCollection',
      features: [{
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [-77.032, 38.913]
        },
        properties: {
          title: 'Mapbox',
          description: 'Washington, D.C.'
        }
      },
      {
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [-122.414, 37.776]
        },
        properties: {
          title: 'Mapbox',
          description: 'San Francisco, California'
        }
      }]
    };
    
</script>
