<div id='map'></div>
<!-- <form action="#" method="get">
 <input type="button" value="Use My Current Location" id="find-me">
</form> -->
<p id = "status"></p>
<a id = "map-link" target="_blank"></a>
<a id ="test" target="_blank"></a>
<script>
  // onLoad function
  window.addEventListener("load", function(){

	geoFindMe();
});

  function geoFindMe() {

    // document.querySelector('#find-me').addEventListener('click', geoFindMe);

    const status = document.querySelector('#status');
    const mapLink = document.querySelector('#map-link');

    mapLink.href = '';
    mapLink.textContent = '';

  // creating a fucntion to set a value into cookie expires in 30s
    function setCookie(name, value) {
      var today = new Date();
      var expiry = new Date(today.getTime() + 30 * 1000);
      document.cookie=name + "=" + escape(value) + "; path=/; expires=" + expiry.toGMTString();
    }

    function success(position) {
      const latitude  = position.coords.latitude;
      const longitude = position.coords.longitude;


        // Mapbox script to display map, also uses to edit the center and zoom etc
        mapboxgl.accessToken = 'pk.eyJ1Ijoic3RvcG92ZXJhZG1pbiIsImEiOiJjanRtcHY3YXozeW10NGJvM3c2dWlxZ2xvIn0.1WlrGXizCLdOrV5TXPTc0A';
        //set bounds of melbourne
        //format: [south, west], [north, east]
        //follow mapbox's coordinates system
        var bounds = [
         	 [144.70345,-37.91802],
         	 [145.22873,-37.64668]
        ];
          var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [longitude, latitude],
            zoom: 12,
            bearing: 0,
            maxBounds: bounds
        });

      // status.textContent = '';
      // mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
      // mapLink.textContent = `Longitude: ${longitude}°, Latitude: ${latitude}°`;
  // setting the longitute and latitude into cookies to be accessed in views.py
      setCookie("longitude",position.coords.longitude);
      setCookie("latitude",position.coords.latitude);

      // loading marker for the users Location
      var geojson_user = {
        type: 'FeatureCollection',
        features: [{
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [longitude, latitude]
          },
          properties: {
            title: 'Mapbox',
            description: 'Current Users Location'
          }
        }]
      };

      // add users marker to map
      geojson_user.features.forEach(function(marker) {
        // create a HTML element for each feature
        var el = document.createElement('div');
        el.className = 'users-marker';
        // user marker
        new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
            .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
              .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
          .addTo(map);
      });

      // Cars location marker
      var geojson_cars = {
        type: 'FeatureCollection',
        features: [
        {% for car in cars %}
          {
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: [{{ car.longitude }}, {{ car.latitude }}]
            },
            properties: {
              title: 'Mapbox',
              description: 'Car Locations'
            }
          },
        {% endfor %}
      ]
      };
      // add markers to map
      geojson_cars.features.forEach(function(marker) {
      // create a HTML element for each feature
      var el = document.createElement('div');
      el.className = 'car-marker';
      // car markers
      new mapboxgl.Marker(el)
      .setLngLat(marker.geometry.coordinates)
        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
          .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
      .addTo(map);
      });
  }

    function error() {
      status.textContent = 'Unable to retrieve your location';
    }

    if (!navigator.geolocation) {
      status.textContent = 'Geolocation is not supported by your browser';
    } else {
      // status.textContent = 'Locating…';
      navigator.geolocation.getCurrentPosition(success, error);
    }
  }

  function getSpecificCookie(cookieName, valueOnly) {
    //Get original cookie string
    var oCookieArray = document.cookie.split(';'),
        fc,
        cnRE = new RegExp(cookieName + '\=');
    //Loop through cookies
    for (var c = 0; c < oCookieArray.length; c++) {

        //If found save to variable and end loop
        if (cnRE.test(oCookieArray[c])) {
            fc = oCookieArray[c].trim();
            if (valueOnly) {
                fc = fc.replace(cookieName +'=', '');
            }
            break;
        }

    }
    return fc;
}
var i = 0;

function getDistanceFromLatLonInKm(lon1, lat1, lon2, lat2) {
	  var R = 6371; // Radius of the earth in km
	  var dLat = deg2rad(lat2-lat1);  // deg2rad below
	  var dLon = deg2rad(lon2-lon1);
	  var a =
	    Math.sin(dLat/2) * Math.sin(dLat/2) +
	    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
	    Math.sin(dLon/2) * Math.sin(dLon/2)
	    ;
	  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
	  var d = R * c; // Distance in km

	  return d.toFixed(2);
	}

function deg2rad(deg) {
return deg * (Math.PI/180)
}


</script>
